/* Projects */

.projects {
    background-color: var(--color-tertiary);
    border-radius: 40px;
}

.scroll_wrap {
    display: flex;
}

.left {
    top: calc((100vh - (var(--header-height))) /2);
    width: 30vw;
    height: 200px;
    position: sticky;
    text-align: center;
}

.right {
    top: 80px;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.box>p {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 2rem;
    background-color: var(--color-background);
    border-radius: 40px;
}