/* Navbar */
nav {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: var(--nav-zIndex);
    background-color: var(--color-background);
    cursor: pointer;
}

nav>ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap-reverse;
    width: 100%;
    padding: 10px 0;
    margin: 0 auto
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a>img {
    width: 22px;
    height: 100%;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--color-on-primary-containerrimary)
}

nav>ul>li:hover {
    color: var(--color-primary)
}

.resume {
    border: 1px solid var(--color-primary);
    padding: 0 5px;
    border-radius: 4px;
    color: var(--color-primary);
    color: var(--color-on-primary-container)
}

@media screen and (min-width: 390px) {
    nav>ul {
        width: 90%
    }

}

@media screen and (min-width: 430px) {
    nav>ul {
        width: 70%;
    }
}

@media screen and (min-width: 570px) {
    nav>ul {
        width: 100%;
        gap: 20px
    }
}

@media screen and (min-width: 600px) {

    nav>ul>li>a>img {
        width: 50px;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        width: 64px;
        height: 100vh;
    }

    nav>ul {
        width: var(--header-height);
        height: 100vh;
        flex-direction: row;
        transform: rotate(-90deg);
        flex-wrap: nowrap;
    }

    nav>ul>li>a>img {
        transform: rotate(90deg);
    }
}