/* Courses */
.courses {
    background-image: url('../../assets/grid-pattern.webp');
    background-position: -10px -10px;
    background-size: 90px;
    overflow-x: hidden;
}

.courses_title-container {
    position: relative;
    z-index: var(--ontop-cursor-zIndex);
    text-align: center;
}

.title-large {
    color: var(--color-on-primary-container);
    text-shadow: 0px 4px 4px var(--color-primary-container);
}

.title-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.courses_display {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40vh;
}

.course_row {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.course_row>img {
    max-width: 100%;
    object-fit: contain;
}

.slide-in {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: var(--ontop-cursor-zIndex);
    color: var(--color-on-primary-container);
    text-align: center;
    width: 90%;
}

.slide-in.appear {
    transform: translateY(0);
    opacity: 1
}

@media screen and (min-width: 768px) {
    .course_row>img {
        width: 50%;
        object-fit: contain;
    }

    .course_row {
        flex-direction: row;
    }

    .course_row.reverse {
        flex-direction: row-reverse;
    }

    .course_row>div.slide-in {
        text-align: right;
    }

    .course_row.reverse>div.slide-in {
        text-align: left;
    }
}