/* Global */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Caveat:wght@700&family=Fira+Code:wght@500;700&family=Source+Code+Pro:wght@700;800&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
}


:root {
    --font-headline: 'Source Code Pro', monospace;
    --font-title: 'Caveat', cursive;
    --font-body: 'Be Vietnam Pro', sans-serif;
    --font-label-subtitle: 'Fira Code', monospace;
    /* header */
    --header-height: 64px;

    /* color */
    --color-primary: #3D6657;
    --color-primary-container: #BFECD9;
    --color-on-primary: #E4E3D3;
    --color-on-primary-container: #002117;
    --color-background: #F3F3F3;
    --color-on-background: #1A1C1E;
    --color-surface: #FAF9FD;
    --color-on-surface: #1A1C1E;
    --color-surface-variant: #E4E3D3;
    --color-on-surface-variant: #46483B;

    /* headline - large */
    --typescale-headline-large-font-family-name: var(--font-headline);
    --typescale-headline-large-font-family-style: ExtraBold;
    --typescale-headline-large-font-weight: 800;
    --typescale-headline-large-font-size: clamp(2.3rem, 6vw, 4.6rem);
    --typescale-headline-large-line-height: 100px;
    /* headline - medium */
    --typescale-headline-medium-font-family-name: var(--font-headline);
    --typescale-headline-medium-font-family-style: ExtraBold;
    --typescale-headline-medium-font-weight: 800;
    --typescale-headline-medium-font-size: clamp(1.8rem, 3vw, 3.1rem);
    --typescale-headline-medium-line-height: 50px;
    /* headline - small */
    --typescale-headline-small-font-family-name: var(--font-headline);
    --typescale-headline-small-font-family-style: ExtraBold;
    --typescale-headline-small-font-weight: 800;
    --typescale-headline-small-font-size: 17px;
    --typescale-headline-small-line-height: 25px;
    /* body - large */
    --typescale-body-large-font-family-name: var(--font-body);
    --typescale-body-large-font-family-style: Regular;
    --typescale-body-large-font-weight: 400;
    --typescale-body-large-font-size: clamp(1.1rem, 1.7vw, 1.4rem);
    --typescale-body-large-line-height: 30px;
    /* body - medium */
    --typescale-body-medium-font-family-name: var(--font-body);
    --typescale-body-medium-font-family-style: Regular;
    --typescale-body-medium-font-weight: 400;
    --typescale-body-medium-font-size: clamp(0.9rem, 1.7vw, 1.1rem);
    --typescale-body-medium-line-height: 20px;
    /* body - small */
    --typescale-body-small-font-family-name: var(--font-body);
    --typescale-body-small-font-family-style: Regular;
    --typescale-body-small-font-weight: 400;
    --typescale-body-small-font-size: 12px;
    --typescale-body-small-line-height: 16px;
    /* label - large */
    --typescale-label-large-font-family-name: var(--font-label-subtitle);
    --typescale-label-large-font-family-style: Medium;
    --typescale-label-large-font-weight: 500;
    --typescale-label-large-font-size: clamp(0.9rem, 1vw, 1.1rem);
    --typescale-label-large-line-height: 20px;
    /* label - medium */
    --typescale-label-medium-font-family-name: var(--font-label-subtitle);
    --typescale-label-medium-font-family-style: Medium;
    --typescale-label-medium-font-weight: 500;
    --typescale-label-medium-font-size: 12px;
    --typescale-label-medium-line-height: 16px;
    /* label - small */
    --typescale-label-small-font-family-name: var(--font-label-subtitle);
    --typescale-label-small-font-family-style: Medium;
    --typescale-label-small-font-weight: 500;
    --typescale-label-small-font-size: 11px;
    --typescale-label-small-line-height: 16px;
    /* subtitle - large */
    --typescale-subtitle-large-font-family-name: var(--font-label-subtitle);
    --typescale-subtitle-large-font-family-style: Bold;
    --typescale-subtitle-large-font-weight: 700;
    --typescale-subtitle-large-font-size: clamp(1.8rem, 3vw, 3.1rem);
    --typescale-subtitle-large-line-height: auto;
    /* subtitle - medium */
    --typescale-subtitle-medium-font-family-name: var(--font-label-subtitle);
    --typescale-subtitle-medium-font-family-style: Bold;
    --typescale-subtitle-medium-font-weight: 700;
    --typescale-subtitle-medium-font-size: clamp(1.1rem, 2.8vw, 2rem);
    --typescale-subtitle-medium-line-height: auto;
    /* subtitle - small */
    --typescale-subtitle-small-font-family-name: var(--font-label-subtitle);
    --typescale-subtitle-small-font-family-style: Bold;
    --typescale-subtitle-small-font-weight: 700;
    --typescale-subtitle-small-font-size: clamp(16px, 2.2vw, 18px);
    --typescale-subtitle-small-line-height: auto;
    /* title - large */
    --typescale-title-large-font-family-name: var(--font-title);
    --typescale-title-large-font-family-style: Bold;
    --typescale-title-large-font-weight: 700;
    --typescale-title-large-font-size: clamp(3.5rem, 7vw, 5.3rem);
    --typescale-title-large-line-height: 70px;
    /* title - medium */
    --typescale-title-medium-font-family-name: var(--font-title);
    --typescale-title-medium-font-family-style: Bold;
    --typescale-title-medium-font-weight: 700;
    --typescale-title-medium-font-size: 40px;
    --typescale-title-medium-line-height: 35px;
    /* title - small */
    --typescale-title-small-font-family-name: var(--font-title);
    --typescale-title-small-font-family-style: Bold;
    --typescale-title-small-font-weight: 700;
    --typescale-title-small-font-size: 20px;
    --typescale-title-small-line-height: 17px;
    /* typewriter */
    --avatarShowDuration: 2s;
    --typeWriterSpeed: 3s;
    --typeWriterCharacters: 18;
    /* z-index */
    --cursor-zIndex: 999;
    --ontop-cursor-zIndex: 1000;
    --nav-zIndex: 1001
}

/* TYPOGRAPHY MODULE */
.display-large {
    font-family: var(--typescale-display-large-font-family-name);
    font-style: var(--typescale-display-large-font-family-style);
    font-weight: var(--typescale-display-large-font-weight);
    font-size: var(--typescale-display-large-font-size);
    line-height: var(--typescale-display-large-height);
}

.display-medium {
    font-family: var(--typescale-display-medium-font-family-name);
    font-style: var(--typescale-display-medium-font-family-style);
    font-weight: var(--typescale-display-medium-font-weight);
    font-size: var(--typescale-display-medium-font-size);
    line-height: var(--typescale-display-medium-height);
}

.display-small {
    font-family: var(--typescale-display-small-font-family-name);
    font-style: var(--typescale-display-small-font-family-style);
    font-weight: var(--typescale-display-small-font-weight);
    font-size: var(--typescale-display-small-font-size);
    line-height: var(--typescale-display-small-height);
}

.headline-large {
    font-family: var(--typescale-headline-large-font-family-name);
    font-style: var(--typescale-headline-large-font-family-style);
    font-weight: var(--typescale-headline-large-font-weight);
    font-size: var(--typescale-headline-large-font-size);
    line-height: var(--typescale-headline-large-height);
}

.headline-medium {
    font-family: var(--typescale-headline-medium-font-family-name);
    font-style: var(--typescale-headline-medium-font-family-style);
    font-weight: var(--typescale-headline-medium-font-weight);
    font-size: var(--typescale-headline-medium-font-size);
    line-height: var(--typescale-headline-medium-height);
}

.headline-small {
    font-family: var(--typescale-headline-small-font-family-name);
    font-style: var(--typescale-headline-small-font-family-style);
    font-weight: var(--typescale-headline-small-font-weight);
    font-size: var(--typescale-headline-small-font-size);
    line-height: var(--typescale-headline-small-height);
}

.body-large {
    font-family: var(--typescale-body-large-font-family-name);
    font-style: var(--typescale-body-large-font-family-style);
    font-weight: var(--typescale-body-large-font-weight);
    font-size: var(--typescale-body-large-font-size);
    line-height: var(--typescale-body-large-height);
}

.body-medium {
    font-family: var(--typescale-body-medium-font-family-name);
    font-style: var(--typescale-body-medium-font-family-style);
    font-weight: var(--typescale-body-medium-font-weight);
    font-size: var(--typescale-body-medium-font-size);
    line-height: var(--typescale-body-medium-height);
}

.body-small {
    font-family: var(--typescale-body-small-font-family-name);
    font-style: var(--typescale-body-small-font-family-style);
    font-weight: var(--typescale-body-small-font-weight);
    font-size: var(--typescale-body-small-font-size);
    line-height: var(--typescale-body-small-height);
}

.label-large {
    font-family: var(--typescale-label-large-font-family-name);
    font-style: var(--typescale-label-large-font-family-style);
    font-weight: var(--typescale-label-large-font-weight);
    font-size: var(--typescale-label-large-font-size);
    line-height: var(--typescale-label-large-height);
}

.label-medium {
    font-family: var(--typescale-label-medium-font-family-name);
    font-style: var(--typescale-label-medium-font-family-style);
    font-weight: var(--typescale-label-medium-font-weight);
    font-size: var(--typescale-label-medium-font-size);
    line-height: var(--typescale-label-medium-height);
}

.label-small {
    font-family: var(--typescale-label-small-font-family-name);
    font-style: var(--typescale-label-small-font-family-style);
    font-weight: var(--typescale-label-small-font-weight);
    font-size: var(--typescale-label-small-font-size);
    line-height: var(--typescale-label-small-height);
}

.subtitle-large {
    font-family: var(--typescale-subtitle-large-font-family-name);
    font-style: var(--typescale-subtitle-large-font-family-style);
    font-weight: var(--typescale-subtitle-large-font-weight);
    font-size: var(--typescale-subtitle-large-font-size);
    line-height: var(--typescale-subtitle-large-line-height);
}

.subtitle-medium {
    font-family: var(--typescale-subtitle-medium-font-family-name);
    font-style: var(--typescale-subtitle-medium-font-family-style);
    font-weight: var(--typescale-subtitle-medium-font-weight);
    font-size: var(--typescale-subtitle-medium-font-size);
    line-height: var(--typescale-subtitle-medium-height);
}

.subtitle-small {
    font-family: var(--typescale-subtitle-small-font-family-name);
    font-style: var(--typescale-subtitle-small-font-family-style);
    font-weight: var(--typescale-subtitle-small-font-weight);
    font-size: var(--typescale-subtitle-small-font-size);
    line-height: var(--typescale-subtitle-small-height);
}

.title-large {
    font-family: var(--typescale-title-large-font-family-name);
    font-style: var(--typescale-title-large-font-family-style);
    font-weight: var(--typescale-title-large-font-weight);
    font-size: var(--typescale-title-large-font-size);
    line-height: var(--typescale-title-large-height);
}

.title-medium {
    font-family: var(--typescale-title-medium-font-family-name);
    font-style: var(--typescale-title-medium-font-family-style);
    font-weight: var(--typescale-title-medium-font-weight);
    font-size: var(--typescale-title-medium-font-size);
    line-height: var(--typescale-title-medium-height);
}

.title-small {
    font-family: var(--typescale-title-small-font-family-name);
    font-style: var(--typescale-title-small-font-family-style);
    font-weight: var(--typescale-title-small-font-weight);
    font-size: var(--typescale-title-small-font-size);
    line-height: var(--typescale-title-small-height);
}

body {
    overflow: scroll;
    background-color: var(--color-background);
    transition: background-color 0.5s ease;
    cursor: none;
}

/* Each section */
section {
    min-height: max-content;
    height: fit-content;
}

@media screen and (min-height: 500px) {
    section {
        min-height: 100vh;
    }
}

@media screen and (max-width: 500px) {
    body {
        cursor: auto;
    }
}